.friendAdd_Error_img {
  position: relative;
  width: 88%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friendAdd_Error_img img {
  width: 100%;
  height: 55px;
}
.friendAdd_Error_skyblue_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.AddFriendModal_sendtime {
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-left: 20px;
}
.AddFriendModal_sendtime_bluetext {
  color: navy;
}
.AddFriendModal_sendtime_graytext {
  color: gray;
  font-size: 9px;
  padding-left: 5px;
  vertical-align: baseline;
}
.friendAdd_Error_wrap {
  width: 27vw;
  height: 300px;
  background-color: white;
  margin: 8px 5px;
  padding-bottom: 15px;
  font-size: 10px;
}

.friendAdd_pixelFont {
  /* 모달 폰트 */
  font-family: "NeoDunggeunmo", sans-serif;
}

.AddFriendModal_imgBox {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  span {
    display: inline-block;
    align-items: center;
  }
}

.AddFriendModal_profile_imgWrap {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}
.AddFriendModa_friendname {
  input {
    width: 40px;
  }
}
.AddFriendModal_textarea_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.AddFriendModal_textarea {
  width: 75% !important;
  box-sizing: border-box;
}
/* 버튼 */
.AddFriendModal_btns {
  display: flex;
  gap: 5px;
  padding-top: 8px;
  button {
    all: unset;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px 5px;
  }
}
button:first-child {
  background-color: #e2f0fc;
}
/* 반응형 */
/* 반응형 */
@media (max-width: 1440px) {
  .AddFriendModal_sendtime {
    margin-left: 35px;
  }
  .friendAdd_Error_skyblue_wrap {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .friendAdd_Error_wrap {
    width: 35vw;
  }
  .AddFriendModal_sendtime {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 10px;
  }
}
@media (max-width: 769px) {
  .friendAdd_Error_wrap {
    width: 48vw;
  }
  .AddFriendModal_sendtime {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 10px;
  }
  .friendAdd_Error_skyblue_wrap {
    height: 100%;
  }
}
@media (max-width: 480px) {
  .friendAdd_Error_wrap {
    width: 60vw;
  }
}
@media (max-width: 386px) {
  .friendAdd_Error_wrap {
    width: 70vw;
  }

  .friendAdd_Error_img {
    width: 88%;
    height: 45px !important;
  }
  .friendAdd_Error_wrap {
    font-size: 8px;
  }
  .AddFriendModa_friendname {
    input,
    select,
    textarea {
      font-size: 8px;
    }
  }
}
